{% extends 'base.html' %}
{% block home_active %}active{% endblock %}

{% block body %}
<div class="albums-container container-fluid">

    <!-- Videos -->
    <div class="row">
        <div class="col-sm-12">
            <h3>{{ user.username }}'s Videos</h3>
        </div>
        {% if videos %}
            {% for video in videos %}
                <div class="col-sm-6 col-lg-4">
                    <div class="thumbnail">
                        <a href="{% url 'vranaya_app:detail_video' video.id %}">
                            <img src="{{ video.video_logo.url }}" class="img-responsive" width="200px" height="200px">
                        </a>
                        <div class="caption">
                            <h2 style="font-size: 15px!important">{{ video.video_title }}</h2>
                            <h4>{{ video.artist }}</h4>

                            <!-- View Details -->
                            {% if video.is_360 %}
                                <a target="_blank" href="{% url 'vranaya_app:detail_video' video.id %}">
                                    <button type="button" class="btn btn-primary btn-xs">
                                        <span class="glyphicon glyphicon-eye-open"></span>&nbsp; Enter VR
                                    </button>
                                </a>
                            {% else %}
                                <a target="_blank" href="{{ video.video_file.url }}">
                                    <button type="button" class="btn btn-success btn-xs">
                                        <span class="glyphicon glyphicon-play"></span>&nbsp; Play
                                    </button>
                                </a>
                            {% endif %}

                            <!-- Delete Video -->
                            <form action="{% url 'vranaya_app:delete_video' video.id %}" method="post" style="display: inline;">
                                {% csrf_token %}
                                <input type="hidden" name="video_id" value="{{ video.id }}" />
                                <button type="submit" class="btn btn-default btn-sm">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                {% cycle '' '' '' '' '' '<div class="clearfix visible-lg"></div>' %}
            {% endfor %}
        {% else %}
            <div class="col-sm-12">
                <br>
                <a href="{% url 'vranaya_app:create_video' %}">
                    <button type="button" class="btn btn-success">
                        <span class="glyphicon glyphicon-plus"></span>&nbsp; Add an Video
                    </button>
                </a>
            </div>
        {% endif %}
    </div>

    <br>
    <hr>

    <!-- Albums -->
    <div class="row">
        <div class="col-sm-12">
            <h3>{{ user.username }}'s Albums</h3>
        </div>
        {% if albums %}
            {% for album in albums %}
                <div class="col-sm-6 col-lg-3">
                    <div class="thumbnail">
                        <a href="{% url 'vranaya_app:detail' album.id %}">
                            <img src="{{ album.album_logo.url }}" class="img-responsive" width="200px" height="200px">
                        </a>
                        <div class="caption">
                            <h1 style="font-size:20px">{{ album.album_title }}</h1>
                            <h4><span class="label label-warning">{{ album.genre }}</span></h4>
                            <h2 style="font-size:15px">artist: <b>{{ album.artist }}</b></h2>

                            <!-- View Details -->
                            <a href="{% url 'vranaya_app:detail' album.id %}" class="btn btn-primary btn-sm" role="button">View Details</a>

                            <!-- Delete Album -->
                            <form action="{% url 'vranaya_app:delete_album' album.id %}" method="post" style="display: inline;">
                                {% csrf_token %}
                                <input type="hidden" name="album_id" value="{{ album.id }}" />
                                <button type="submit" class="btn btn-default btn-sm">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </form>

                            <!-- Favorite Album -->
                            <a href="{% url 'vranaya_app:favorite_album' album.id %}" class="btn btn-default btn-sm btn-favorite" role="button">
                                <span class="glyphicon glyphicon-star {% if album.is_favorite %}active{% endif %}"></span>
                            </a>

                        </div>
                    </div>
                </div>
                {% cycle '' '' '' '' '' '<div class="clearfix visible-lg"></div>' %}
            {% endfor %}
        {% else %}
            <div class="col-sm-12">
                <br>
                <a href="{% url 'vranaya_app:create_album' %}">
                    <button type="button" class="btn btn-success">
                        <span class="glyphicon glyphicon-plus"></span>&nbsp; Add an Album
                    </button>
                </a>
            </div>
        {% endif %}
    </div>

    <!-- If user searches and there are songs -->
    {% if songs %}
        <div class="row">
            <div class="col-sm-12">
                <h3>Songs</h3>
            </div>
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Song Title</th>
                                    <th>Artist</th>
                                    <th>Audio File</th>
                                    <th>Album</th>
                                    <th>Favorite</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for song in songs %}
                                    <tr>
                                        <td>{{ song.song_title }}</td>
                                        <td>{{ song.album.artist }}</td>
                                        <td>
                                            <a target="_blank" href="{{ song.audio_file.url }}">
                                                <button type="button" class="btn btn-success btn-xs">
                                                    <span class="glyphicon glyphicon-play"></span>&nbsp; Play
                                                </button>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="{% url 'vranaya_app:detail' song.album.id %}">
                                                <img src="{{ song.album.album_logo.url }}" class="img-responsive" style="width: 40px; float: left; margin-right: 10px;" />
                                            </a>
                                            <a href="{% url 'vranaya_app:detail' song.album.id %}">{{ song.album.album_title }}</a>
                                        </td>
                                        <td>
                                            <a href="{% url 'vranaya_app:favorite' song.id %}" class="btn-favorite"><span class="glyphicon glyphicon-star {% if song.is_favorite %}active{% endif %}"></span></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

</div>
{% endblock %}
