{% extends 'base.html' %}
{% block title %}All Videos{% endblock %}
{% block videos_active %}active{% endblock %}

{% block body %}
<div class="container-fluid songs-container">

    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-pills" style="margin-bottom: 10px;">
                <li role="presentation" {% if filter_by == 'all' %}class="active"{% endif %}><a href="{% url 'vranaya_app:videos' 'all' %}">View All</a></li>
                <li role="presentation" {% if filter_by == 'is_360' %}class="active"{% endif %}><a href="{% url 'vranaya_app:videos' 'is_360' %}">360 Videos</a></li>
                <li role="presentation"><button onclick="window.location.href='{% url "vranaya_app:create_video" %}'" class="btn btn-warning">+ Add New Video</button></li>
            </ul>
        </div>
    </div>

    <div class="row">

        <div class="col-sm-12">

            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Video Logo</th>
                                <th>Video Title</th>
                                <th>Operations</th>
                                <th>Playing Times</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for video in videos %}
                                <tr>
                                    <td>
                                        <img class="img-responsive" src="{{ video.video_logo.url }}" alt="Chania" width="75" height="75"> 
                                    </td>
                                    <td>{{ video.video_title }}</td>
                                    <td>
                                        {% if video.is_360 %}
                                            <a target="_blank" href="{% url 'vranaya_app:detail_video' video.id %}">
                                                <button type="button" class="btn btn-primary btn-xs">
                                                    <span class="glyphicon glyphicon-eye-open"></span>&nbsp; Enter VR
                                                </button>
                                            </a>
                                        {% else %}
                                            <a target="_blank" href="{{ video.video_file.url }}">
                                                <button type="button" class="btn btn-success btn-xs">
                                                    <span class="glyphicon glyphicon-play"></span>&nbsp; Play
                                                </button>
                                            </a>
                                        {% endif %}
                                        <form action="{% url 'vranaya_app:delete_video' video.id %}" method="post" style="display: inline;">
                                            {% csrf_token %}
                                            <input type="hidden" name="video_id" value="{{ video.id }}" />
                                            <button type="submit" class="btn btn-danger btn-xs">
                                                <span class="glyphicon glyphicon-remove"></span>&nbsp; Delete
                                            </button>
                                        </form>
                                    </td>
                                    <td><span class="label label-warning">{{ video.view_counter }}</span></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

    </div>

</div>
{% endblock %}
